[submodule "submodules/winlamb"]
	path = submodules/winlamb
	url = https://github.com/rodrigocfd/winlamb.git
[submodule "submodules/HexCtrl"]
	path = submodules/HexCtrl
	url = git@github.com:XenoideSoftware/HexCtrl.git
[submodule "submodules/win32-property-grid"]
	path = submodules/win32-property-grid
	url = git@github.com:XenoideSoftware/win32-property-grid.git
