#include "resource.h"
#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     APP_VERSION_MAJOR, APP_VERSION_MINOR, APP_VERSION_PATCH, APP_VERSION_BUILD
PRODUCTVERSION  APP_VERSION_MAJOR, APP_VERSION_MINOR, APP_VERSION_PATCH, APP_VERSION_BUILD
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS       VS_FF_DEBUG
#else
FILEFLAGS       0
#endif
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"  // Language: English (US), Code page: Unicode
        BEGIN
            VALUE "CompanyName",      APP_COMPANY_NAME
            VALUE "FileDescription",  APP_DESCRIPTION
            VALUE "FileVersion",      APP_VERSION_STR
            VALUE "InternalName",     APP_PRODUCT_NAME
            VALUE "LegalCopyright",   APP_COPYRIGHT
            VALUE "OriginalFilename", APP_PRODUCT_NAME ".exe"
            VALUE "ProductName",      APP_PRODUCT_NAME
            VALUE "ProductVersion",   APP_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0  // English (US), Unicode
    END
END
